/* *******DESKTOP LARGE SCREEN SIZE******** */
@media screen and (max-width: 1200px) {
  body {
    header {
      position: relative;

      .bgc-btn {
        display: none;
      }

      .menu {

        ul {
          position: absolute;
          left: -12rem;
          height: 50rem;
        }
      }
    }

    .quation {
      .inputs {
        input {
          width: 20rem;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  body {

    header {
      position: relative;

      .phone {
        h4 {
          font-size: 1rem;
        }
      }

      nav {

        ul {
          position: absolute;
          left: 5rem;
        }
      }

      .bgc-btn {
        display: none;
      }
    }

    .design {
      img {
        width: 100%;
      }
    }

    main {
      position: relative;

      
    .radio {

      .box-text {
        display: flex;
        margin-top: -1rem;

        .box-2 {
          left: calc(100%/15);
        }

        .box-3 {
          left: calc(100%/5);
        }
      }

      .box-circles {

        .box_2 {
          left: 6%;
        }

        .box_3 {
          left: 24%;
        }
      }
    }

      .paket {
        width: 100%;
        padding: 1rem 4rem;

        button {
          width: 100%;
        }

        div {
          margin-top: 2rem;
        }

        .textOne,
        .textTwo,
        .textThree {
          position: absolute;
          left: 5.1rem;
          top: 9.5rem;
          width: 38rem;
          height: 13rem;
          clip-path: polygon(50% 0%, 56% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 44% 20%);
        }

        .textThree {
          top: 23rem;
        }

        .textTwo {
          top: 16rem;
        }

      }
      
    .check {

      .btn {
        width: 100%;
      }
    }
    }



    .portfel {
      .buttons {
        display: flex;
        justify-content: center;
        font-size: 1.1em;
      }

      button {
        padding: 1rem 1.4rem;
      }
    }

    .quation {
      input {
        width: 100%;
        height: 5rem;
        margin-top: 1rem;
      }

      .icons {
        display: inline-block;
        margin: 2rem auto;
        margin-bottom: -3rem;
      }
    }

  }
}


/* ********TABLET MEDIUM SCREEN SIZE********** */
@media screen and (min-width: 577px) and (max-width: 768px) {
  body {
    header {

      .phone {
        display: flex;
        justify-content: end;
        padding-left: 4rem;
        h4 {
          font-size: 0.8em !important;
        }
      }

      .menu {
        .logo_l {
          width: 100%;
        }

        .phone {
          h4 {
            font-size: 0.6em;
          }
        }

        .logo {
          width: 100px;
          height: 50px;
        }

        p {
          font-size: 1em;
        }

        .menu_burger {
          margin-top: 10px;
          margin-left: 20px;
        }
      }

      .text-sup {
        h1 {
          font-size: 45px;
        }
      }

      .contact {
        display: flex;
        justify-content: center;
        flex-direction: column;

        input {
          width: 350px;
        }
      }

      .temp {
        margin-bottom: 3rem;
      }
    }

    .design {
      img {
        margin-bottom: 2rem;
      }

      h2 {
        text-align: center;
      }

      .btn {
        width: 100%;
        margin-bottom: 2rem;
      }
    }


    main {
      position: relative;

       
    .radio {

      .box-text {
        display: flex;
        margin-top: -1rem;

        .box-2 {
          left: calc(100%/15);
        }

        .box-3 {
          left: calc(100%/5);
        }
      }

      .box-circles {

        .box_2 {
          left: 7%;
        }

        .box_3 {
          left: 25%;
        }
      }
    }

      .paket {
        width: 100%;
        padding: 1rem 4rem;

        button {
          width: 100%;
        }

        div {
          margin-top: 2rem;
        }

        .textOne,
        .textTwo,
        .textThree {
          position: absolute;
          left: 5.1rem;
          top: 9.5rem;
          width: 38rem;
          height: 13rem;
          clip-path: polygon(50% 0%, 56% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 44% 20%);
        }

        .textThree {
          top: 23rem;
        }

        .textTwo {
          top: 16rem;
        }

      }
    }

    .portfel {
      .buttons {
        display: flex;
        font-size: 0.9em;
        margin: 0 4rem;

        .two-btn {
          padding-bottom: 1rem;
        }

        .thr-btn {
          border-right: 2px solid $accent-color;
          border-radius: 0 2rem 2rem 0;
        }

        .end-btn {
          margin-top: 2rem;
          border-radius: 2rem;

        }
      }
    }

    .quation {
      input {
        width: 26.5rem;
        height: 5rem;
        margin-top: 1rem;
      }

      .icons {
        display: inline-block;
        margin: 2rem auto;
        margin-bottom: -3rem;
        padding-left: calc(100%/5);
      }
    }
  }
}

/* **********MOBILE SMALL SCREEN SIZE********** */
@media screen and (max-width: 576px) {
  body {
    font-size: 18px;

    header {
      height: 100vh;
      .menu {
        .logo_l {
          width: 140%;
        }

        .phone {
          display: none !important;
        }

        .nav {
          margin: 0 !important;
          width: 100%;
        }

        p {
          font-size: 0.8em;
        }
      }

      .text-sup {
        margin-top: 30px;
        h1 {
          font-size: 2em;
        }

        h3 {
          font-size: 1.4em;
        }

        p {
          font-size: 1em;
          margin-top: 15px;
          margin-bottom: 10px;
        }
      }
      .contact {
        label {
          width: 100%;
          span {
            display: none;
          }
        }
        input {
          width: 300px !important;
         margin-bottom: 15px;
         height: 40px;
        }
        button {
          height: 40px;
          margin-top: 10px;
        }
      }
      .topBtn {
        right: 10px;
      }
    }
    
    .cat {
      display: none;
    }

    .design {
      .row {
        margin: 0 1rem;
      }

      .my {
        margin-bottom: 20px;
      }

      hr {
        display: none;
      }
    }

    main {
      hr {
        display: none;
      }

      .main-text {

        h1 {
          font-size: 35px;
        }

        p {
          font-size: 20px;
        }
      }

      position: relative;

      

      .paket {
        width: 100%;
        padding: 0;

        button {
          width: 90%;
        }

        div {
          margin-top: 2rem;
        }

        .textOne,
        .textTwo,
        .textThree {
          position: absolute;
          left: 0;
          top: 8.5rem;
          width: 34rem;
          height: 15rem;
          clip-path: polygon(50% 0%, 56% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 44% 20%);
        }

        .textThree {
          top: 23rem;
        }

        .textTwo {
          top: 16rem;
        }

      }

      .check {
        margin-top: 2rem;

        .area {
          span, p {
            font-size: 30px;
          }
          p {
            margin-top: 8px;
          }
        }
      }
    }

    .portfel {

      hr {
        display: none;
      }

      h1 {
        padding-bottom: 3rem;
      }

      .buttons {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;

        a {
          display: flex;
          flex-direction: column;

          button {
            border-right: 2px solid $accent-color;
            border-radius: 1rem;
            margin-bottom: 1rem;
          }

          .thr-btn {
            border-radius: 1rem;
            border-left: 1px solid $accent-color;
          }

          .end-btn {
            border-radius: 1rem;
            margin-top: 0.2rem;
          }
        }
      }
    }

    aside {

      .aside-text {
        hr {
          display: none;
        }
      }
    }

    .process {
      .process-text {
        margin-top: 3rem;
      }

      hr {
        display: none;
      }

      p {
        font-size: 1.5em;
        font-weight: 700;
        padding: 2rem 0;
      }
    }

    .company {
      .comp-text {
        h1 {
          padding-bottom: 4rem;
          font-size: 1.7em;
        }

        hr {
          display: none;
        }
      }

      input[type="range"] {
        width: 90rem;
      }
    }

    .my-comand {
      hr {
        display: none;
      }
    }

    .blog {
      hr {
        display: none;
      }
    }

   
    .quation {
      padding: 20px 0;
      hr {
        display: none;
      }

      label {
        width: 100%;
      }
      input {
        width: 100% !important;
      }

    }

    footer {
      .footer-nav {
        display: flex;
        justify-content: space-between;
        padding-left: 4rem;
        // flex-direction: column;
      }

      .copy {
        padding-left: 4rem;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width:420px) {
  body {
    
  main {
    hr {
      display: none;
    }

      
  .radio {
    height: 150px;
    .box-text {
      display: flex;
      margin-top: -1rem;

      .box-2 {
        left: calc(100%/50);
      }

      .box-3 {
        left: calc(100%/10);
      }
    }

    .box-circles {

      .box_2 {
        left: 4.5%;
      }

      .box_3 {
        left: 21%;
      }
    }
    
    input[type="range"] {
      top: -5.25rem;
    }
  }


    .paket {
      width: 100%;
      padding: 0;

      button {
        width: 90%;
      }

      div {
        margin-top: 2rem;
      }

      .textOne,
      .textTwo,
      .textThree {
        position: absolute;
        left: 0;
        top: 8.5rem;
        width: 100%;
        height: 15rem;
        clip-path: polygon(50% 0%, 56% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 44% 20%);
      }

      .textThree {
        top: 23rem;
      }

      .textTwo {
        top: 16rem;
      }

    }

    .check {
      margin-top: 2rem;
    }
  }

  
  .process {
    h1 {
      font-size: 1.8em !important;
      font-weight: 600;
    }
    p {
      font-size: 1.2em;
      font-weight: 500;
    }
  }

  .company {
    h1 {
      font-size: 1.8em !important;
      font-weight: 600;
    }
    .slider {

      img {
        width: 150%;
        height: 6rem;
        margin-bottom: 3rem;
        margin-right: 55px;

      }

      a {
        margin-right: 55px;
      }
    }

    input[type="range"] {
      margin-top: 5rem;
    }
  }

  aside {
    h1 {
      font-size: 1.8em !important;
      font-weight: 600 !important;
    }
  }

  .portfel {
    h1 {
      font-size: 1.8em !important;
      font-weight: 600 !important;
    }

    .buttons {
      button {
        font-size: .8em !important;
      }
    }
  }

    .process {
      h1 {
        font-size: 1.8em !important;
        font-weight: 600;
      }
      p {
        font-size: 1.2em;
        font-weight: 500;
      }
    }

    .company {
      h1 {
        font-size: 1.8em !important;
        font-weight: 600;
      }
      .slider {

        img {
          width: 150%;
          height: 6rem;
          margin-bottom: 3rem;
          margin-right: 55px;

        }

        a {
          margin-right: 55px;
        }
      }

      input[type="range"] {
        margin-top: 5rem;
      }
    }

    aside {
      h1 {
        font-size: 1.8em !important;
        font-weight: 600 !important;
      }
    }

    .portfel {
      h1 {
        font-size: 1.8em !important;
        font-weight: 600 !important;
      }

      .buttons {
        button {
          font-size: .8em !important;
        }
      }
    }

    .blog {
      h1 {
        font-size: 1.8em !important;
        font-weight: 600 !important;
      }
    }

    
    .quation {
      padding: 20px 0;
      h1 {
        font-size: 1.8em !important;
        font-weight: 600 !important;
      }

      p {
        font-size: 1.3em;
        padding-bottom: 1rem;
      }

      input {
        width: 100% !important;
      }

    }

    .map {
      iframe {
        height: 400px;
      }
    }
    footer {
      a {
        p {
          font-size: 1.2em;
        }
      }
      .contact {
        font-size: 1.2em;
      }
      .footer-nav {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
      }
      .footer_text {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  body {
    main {
      h1 {
        font-size: 1.8em !important;
        font-weight: 600px !important;
      }
      hr {
        display: none;
      }

        
    .radio {
      height: 150px;
      .box-text {
        display: flex;
        margin-top: -1rem;

        .box-2 {
          left: calc(100%/50);
        }

        .box-3 {
          left: calc(100%/20);
        }
      }

      .box-circles {

        .box_2 {
          left: 3.5%;
        }

        .box_3 {
          left: 18%;
        }
      }
      
      input[type="range"] {
        top: -5.25rem;
      }
    }


      .paket {
        width: 100%;
        padding: 0;

        button {
          width: 90%;
        }

        div {
          margin-top: 2rem;
        }

        .textOne,
        .textTwo,
        .textThree {
          position: absolute;
          left: 0;
          top: 8.5rem;
          width: 100%;
          height: 15rem;
          clip-path: polygon(50% 0%, 56% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 44% 20%);
        }

        .textThree {
          top: 23rem;
        }

        .textTwo {
          top: 16rem;
        }

      }

      .check {
        margin-top: 2rem;
      }
    }

    .process {
      h1 {
        font-size: 1.8em !important;
        font-weight: 600;
      }
      p {
        font-size: 1.2em;
        font-weight: 500;
      }
    }

    .company {
      h1 {
        font-size: 1.8em !important;
        font-weight: 600;
      }
      .slider {

        img {
          width: 150%;
          height: 6rem;
          margin-bottom: 3rem;
          margin-right: 55px;

        }

        a {
          margin-right: 55px;
        }
      }

      input[type="range"] {
        margin-top: 5rem;
      }
    }

    aside {
      h1 {
        font-size: 1.8em !important;
        font-weight: 600 !important;
      }
    }

    .portfel {
      h1 {
        font-size: 1.8em !important;
        font-weight: 600 !important;
      }

      .buttons {
        button {
          font-size: .8em !important;
        }
      }
    }

    .blog {
      h1 {
        font-size: 1.8em !important;
        font-weight: 600 !important;
      }
    }

  }
}


@media screen and (max-width:325px) {
  body {
    
  main {
    hr {
      display: none;
    }

      
  .radio {
    height: 150px;
    .box-text {
      display: flex;
      margin-top: -1rem;

      span {
        font-size: 14px;
      }

      .box-2 {
        left: calc(100%/50);
      }

      .box-3 {
        left: calc(100%/10);
      }
    }

    .box-circles {

      .box_2 {
        left: 2%;
      }

      .box_3 {
        left: 15%;
      }
    }
    
    input[type="range"] {
      top: -5.25rem;
    }
  }
  }
  }
}